<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Recipe</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New Recipe</h1>
    <form action="/recipes" method="POST">
        <label for="name">Recipe Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="instructions">Instructions:</label>
        <textarea id="instructions" name="instructions"></textarea>

        <h3>Select Ingredients:</h3>
        <% ingredients.forEach(ingredient => { %>
          <div>
            <input type="checkbox" name="ingredients" value="<%= ingredient._id %>" id="ingredient-<%= ingredient._id %>">
            <label for="ingredient-<%= ingredient._id %>"><%= ingredient.name %></label>
          </div>
        <% }) %>
    
        <button type="submit">Add Recipe</button>
    </form>

    <h2>Add New Ingredient</h2>
  <form action="/ingredients" method="POST">
    <label for="name">Ingredient Name:</label>
    <input type="text" name="name" id="name" required>
    <button type="submit">Add Ingredient</button>
  </form>
</body>
</html>